.popular .box {
  background-color: #fff;
  display: flex;
  background: transparent;

  /* #18  copy*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
  position: relative;
  justify-content: end;
  margin: 15px 10px 15px 0px;
  /*box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;*/
}
.popular .images {
  position: relative;
  height: 150px;
}
.popular img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.popular .text h1 {
  padding: 8px 0 0 12px;
  margin: 0;
}
.popular .date {
  margin-top: 15px;
  padding: 0 0 0 20px;
}
@media screen and (max-width: 1100px) {
  .popular .box {
    margin: 15px 5px 5px 3px;
    /*box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;*/
  }
}
